#!/usr/bin/env python
# -*- coding: utf-8 -*-

from datetime import datetime

start_time = datetime.strptime("2012-01-01", "%Y-%m-%d")

edit_max_editcount = 300
edit_min_editcount = 1

user_discussion_page = u'Usuário(a)_Discussão:'

bot_comment = u'Edição, automática, feita pelo wikiprojetosbot [[Wikipédia:Bot]]'

welcome_msg = u'{{subst:bv}} %s'

contact_users = [u'everton137', u'Jonas AGX', u'Sturm', u'Raylton_P._Sousa', u'Vini_175']

contact_template = u'[[Usuário(a):%s|%s]] ([[Usuário(a) Discussão:%s|discussão]]) {{subst:CURRENTTIME}} de {{subst:CURRENTDAY}} de {{subst:CURRENTMONTHNAME}} de {{subst:CURRENTYEAR}} ([[UTC]])'
invite_msg = u'{{subst:convite-medicina|%s}}'
categorias = [u'Medicina']
