#!/usr/bin/env python
# -*- coding: utf-8 -*-

user_discussion_page = u'Usuário(a)_Discussão:'
bot_comment = u'Edição automática de teste feita pelo wikiprojetosbot :)'

contact_users = [u'Tom', u'Jonas', u'Oona']

contact_template = u'[[Usuário(a):%s|%s]] ([[Usuário(a) Discussão:%s|discussão]]) {{CURRENTTIME}} de {{CURRENTDAY}} de {{CURRENTMONTHNAME}} de {{CURRENTYEAR}} ([[UTC]])'
invite_msg = u'{{subst:convite-medicina|%s}}'
categorias = [u'Medicina']